@model Proyecto.Models.TipoEventoEvento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoEventoEvento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idEvento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idTipoEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idTipoEvento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idTipoEventoEvento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
