@model Proyecto.Models.EmpleadoRestaurante

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmpleadoRestaurante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoPaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoPaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoMaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoMaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idRestaurante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idRestaurante)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idEmpleadoRestaurante }) |
    @Html.ActionLink("Back to List", "Index")
</p>
