@model Proyecto.Models.TipoEvento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoEvento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duracionDias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duracionDias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clasificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clasificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idTipoEvento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
